*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background-color: #ffff33;
	color: black;
	padding: 20px;
}
.banner{
	margin-top: 70px;
}
.car{
	font-size: 25px;
}
.men{
	font-size: 25px;
}
.footer{
	background-color: #e0e0e0;
	padding-top: 20px;
}
.silk{
	margin-top: 80px;
}
.mark{
	border: 1px solid gray;
	padding: 20px;
	margin-top: 20px;
}
.head1{
	margin-top: 20px;
	text-align: center;
	color: yellow;
}
.head2{
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-left: 80px;
	margin-right: 80px;
	font-size: medium;
}